@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,600&family=NTR&display=swap');


body {
    font-family: Exo, NTR, sans-serif;
    margin: 0;
    background-color: rgb(33, 33, 33);
}

h1, h2, h3 {

    color: orange;
    font-family: Exo, sans-serif;
}

p {
    color: orange;
    font-family: NTR, sans-serif;
}

a {
    font-family: NRT, sans-serif;
    color: orange;
    text-decoration: none;
}

a:hover {
    color: silver;
}

/* header and logo */

header h1 {
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
}

header p {
    font-size: 50px;
    text-align: center;
}


#logo-image {
    padding: 1rem 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/engine.jpg') center center / cover no-repeat;
    width: 100%;
    height: 100%;
}

/* navigation bar */

nav {
    background-color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    padding: 1rem;
}

nav > a {
    margin: 1rem;
}

/* main section */

#about-left-div {
    float: left;
    width: 40%;
}

#about-right-div {
    float: right;
    width: 60%;
    margin-top: 0.5%;
    height: auto;
    opacity: 1;
}

#about-us-car {
    border-radius: 10px;
    height: auto;
    width: 100%;
}

#about-us-div {
    height: 100%;
    overflow: hidden;
}

.left-div-box {
    padding: 1px 15px 1px 15px;
	border-radius: 10px;
	width: 95%;
    margin: 5%;
	background-color: rgb(15, 15, 15);
    position: relative;
    overflow: visible;
}

.left-div-box p {
    font-size: larger;
}

.content-center {
    justify-content: center;
    margin: auto 5%;
}

#position-box-1 {
    left: 20%;
}

#position-box-2 {
    left: 10%;
}

/* footer */

footer {
    height: 100%;
}

.footer-style {
    text-align: center;
}

.footer-style li {
    display: inline;
}

.footer-style i {
    font-size: 350%;
    padding: 2%;
}