@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,600&family=NTR&display=swap');


body {
    font-family: Exo, NTR, sans-serif;
    margin: 0;
    background-color: rgb(33, 33, 33);
}

h1, h2, h3 {

    color: orange;
    font-family: Exo, sans-serif;
}

p {
    color: orange;
    font-family: NTR, sans-serif;
}

a {
    font-family: NRT, sans-serif;
    color: orange;
    text-decoration: none;
}

a:hover {
    color: silver;
}

/* header and logo */

header h1 {
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
}

header p {
    font-size: 50px;
    text-align: center;
}


#logo-image {
    padding: 1rem 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/engine.jpg') center center / cover no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* navigation bar */

nav {
    background-color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    padding: 1rem;
}

nav > a {
    margin: 1rem;
}

/* main section */

#about-left-div {
    float: left;
    margin-top: 1.25%;
    width: 20%;
    height: 600px;
}

#about-right-div {
    float: right;
    margin-top: 1.25%;
    width: 80%;
    opacity: 1;
    border-radius: 10px;
    background-image: url('../images/about-us-img.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    height: 600px;
}

.left-div-box {
    padding: 1px 15px 1px 15px;
	border-radius: 10px;
    margin: 8%;
	background-color: rgb(15, 15, 15);
    position: relative;
    overflow: visible;
    width: 200%;
}

.left-div-box p {
    font-size: larger;
}

.content-center {
    justify-content: center;
    margin: auto 1.5%;
}

/* footer */

footer {
    width: 100%;
    bottom: 0;
}

.footer-style {
    text-align: center;
}

.footer-style li {
    display: inline;
}

.footer-style i {
    font-size: 350%;
    padding: 2%;
}